.header {
  background-color: #eef2f3;
  font-size: 30px;
  text-align: center;
  color:#289df6;
  padding: 1%;
  margin: 0px;
  
}
.inpuda {
  align-items: center;
  display: flex;
  background-color: #bfe8ee;
  text-align:center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  justify-content: center;
  top: -50px;
}
.inputBox {
  font-size: 28px;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  text-align: center;
 
}
.fontGreen {
  font-size: 100px;
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #eef2f3;
  color: #09a11d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  text-shadow: 0.1em 0.1em 0.2em #74e283;
}
.fontRed {
  font-size:100px;
  font-weight: bold;
  font-family: Courier, monospace;
  background-color: #eef2f3;
  color: #ff0404;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  text-shadow: 0.1em 0.1em 0.2em rgb(236, 66, 66)
}

.btnCal {
  height: 70px;
  width: 200px;
  background-color: #289df6;
  color: white;
  font-weight: 800;
  border-radius: 10px;
  border: 0px;
  margin: 5px;
  font-size: 25px;
}

.btnClear {
  height: 70px;
  width: 200px;
  background-color: #2869f6;
  color: rgb(255, 255, 255);
  font-weight: 800;
  border-radius: 10px;
  border: 0px;
  margin: 5px;
  font-size: 25px;
}
.btnClear:hover{
background-color: #59a5d1;
color: beige;
}

.sum{
  color: black;
  font-size: 25px;
  background-color: #bfe8ee;
  height: 50px;
  align-items: center;

}
<!-- HTML !-->
<button class="button-73" role="button">Button 73</button>

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
  border-radius: 25px;
  cursor: pointer;
}

.button-73:active {
  transform: scale(1.025);
  border-radius: 25px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 2.5rem;
    padding: .75rem 2rem;
    border-radius: 25px;
    background-color: #6e60ac;
    box-shadow: #31207a 0 -6px 8px inset;
    color: #eef2f3;
    cursor: pointer;
  }
}
